.app {
    min-height: 100vh;
    background-color: rgb(176, 217, 241);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows:  5rem 1fr 3rem;
    grid-gap: 1vw;
    grid-template-areas: 'header'
                         'article'
                         'footer';
    
}

.app > * { 
    display: flex;
    justify-content: center; /*centrar contingut horitzontalment*/
    align-items: center;     /*centrar contingut verticalment*/
}

.header{
    grid-area: header;
    background-color: rgb(0, 136, 136);
}

.article{
    grid-area: article;
    background-color: darkgray;
}

.footer{
    grid-area: footer;
    text-align: center;
    background-color: rgb(0, 136, 136);
}

.table{
    /*border-collapse: collapse;*/
    background: rgb(176, 217, 241);
    border:  5px solid rgb(0, 136, 136); /*altres: dotted*/
    text-align: center; /*centrar el text*/
    padding: 1rem; /*espai entre element i contenidor*/
    border-spacing: 0.5rem;/*espai al voltant de les celes*/
    border-radius: 10px;/*arrodonir els cantos*/
    box-shadow: 10px 10px 10px;/*x,y,blur-shadow(difuminat de l'ombra)*/
}

.table td{
    border:  2px solid rgb(0,0,0);/*línia border al voltant cel·les*/
}
/*odd, even*/
.table tr:nth-child(even) {
    background-color: bisque;
}

.table tr:nth-child(odd) {
    background-color: rgb(253, 191, 191);
}

th{
  border:  2px solid rgb(0,0,0);
  background: rgb(218, 255, 200);
  padding: 7px;
}

tr:hover td {
  background:#b1b1b1;
  font-weight: bold;
}

img{
    width: 30px;
    height: 30px;
}

/*
.table tr:nth-child(2) {
    background-color: red; //el segon element de la taula fons vermell
}
*/
